#maindiv {
    
    margin:20px;
    background-color:cornflowerblue;
}
#annonce{
    font-size:50px;
    font-family:Arial;
    color:white;
    background-color:black;
    text-align:center;
}
.firstdiv {
    background-color: black;
    
    height: 450px;
    margin-left: 20px;
}
.secdivun {
    background-color:black;
    margin-left: 20px;
}
.thirddivun {
    background-color: black;
    margin-left: 20px;
}
.fourthdivun {
    background-color: black;
    margin-left: 20px;
}

.fivethdivun {
    background-color: black;
    margin-left: 20px;
}
.sixthdivun {
    background-color: black;
    margin-left: 20px;
    margin-bottom:20px;
}
.sixthdivunbis {
    background-color: black;
    color:white;
    text-align: center
}
.toff {
    margin-left: 20px;
    float: left;
}

#identite1 {
    
    margin-left: 300px;
}
.dd {
    font-weight:bold;
    font-family: Arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}
.pli{
    margin-left: 90px;
}
.pli2 {
    margin-left: 55px;
}
.pli3 {
    margin-left: 25px;
}
.pli4 {
    margin-left: 20px;
}

.pli5 {
    margin-left: 40px;
}
.pli6 {
    margin-left: 100px;
}

.pli7 {
    margin-left: 70px;
}

.pli8 {
    margin-left: 50px;
}
h2{
    background-color:red;
    color:white
}
h3 {
    color: cornflowerblue;
}
p{
    font-weight:bold;
    font-style:italic;
    font-family:Arial;
    color:white;
    font-size:15px;
}
li {
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    color: white;
    font-size: 15px
}
#son{
    color:white;
}